/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
	background: #e3e1e1;
    box-sizing: border-box;
	height: 100vh;
    /* height: 100vh; */
}


/* Header Styles */
header {
    background-color: #a9b388;
    padding: 20px;
    margin-bottom: 10%;
    /* top: 0;
	position: sticky; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
}

.logo h1 {
    color: rgb(150, 188, 26);
}

.logo img{
    height: 140px;
	
}

.nav-links {
    font-size: 27px;
	
    list-style: none;
	line-height: 50px;
    display: flex;
}

.nav-links li {
    margin-right: 40px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}


form{
    /* width: 70%; */
    width: 70%;
	/* min-height: 800px; */
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	/* background: #f5f5b6; */
	background: #a9b388;
	border-radius: 20px;
	padding: 30px 100px;
    
}

form > label {
	width: 250px;
	margin: 15px 0;
	padding: 30px;
}

form > label > input {
	width: inherit;
	border: 0;
	border-bottom: 2px solid #5f6f52;
	outline: 0;
	padding: 7px 10px;
	background: transparent;
}

form > label > input:hover {
    border-bottom-width: 3px;
}

form > label > select {

	width: inherit;
	background: transparent;
	margin-top: 7px;
    
}

form > label > textarea {
    background: transparent;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	min-height: 200px;
	margin-top: 7px;
	padding: 5px;
	font-size: 18px;
}


/* Style for filled star */
/* filling */
.rating .fas {
    font-size: 30px;
    color: #c4661f;
}
/* liner */
.rating .far {
    font-size: 30px;
    color: #5f6f52;
}

.rating-value{
	/* display: none; */
}

.buttons{
    width: 70%;
	min-height: 100px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
    justify-content: center;
    width: 250px;
}

#submitButton{
	/* display: block;
	margin: -6.5% 50%; */

	width: 200px;
	height: 36px;
	border-radius: 20px;
	background-color: transparent;
	border: solid 1px #5f6f52;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

#clearButton{
    width: 200px;
	height: 36px;
	border-radius: 20px;
	background-color: transparent;
	border: solid 1px #5f6f52;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
 
#clearButton:hover, #submitButton:hover {
	background-color: #b7b7a4;
	transition: all 0.2s ease-in-out;
}

/* 768px */
@media screen and (max-width: 768px) {
	form, .service {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 10px;
	}
	form > label , form > label {
		width: 100%;
	}
	form > label > select,
	form > label > input {
		width: 100%;
		margin: 0;
	}

}